.button {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    height: 40px;
}

.button:hover {
    background-color: deepskyblue;
}

.button1 {
    background-color: sandybrown;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    height: 40px;
}

.button1:hover {
    background-color: coral;
}

.buttonToBooks {
    background-color: sandybrown;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    height: 40px;
}

.buttonToBooks:hover {
    background-color: coral;
}

.buttonToBooks1 {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    height: 40px;
}

.buttonToBooks1:hover {
    background-color: deepskyblue;
}

.previous {
    background-color: cornsilk;
    color: black;
    border: aqua;
    border-radius: 10px;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.previous:hover {
    background-color: peachpuff;
    cursor: pointer;
}

.previousBook {
    background-color: cornsilk;
    color: black;
    border: aqua;
    border-radius: 10px;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.previousBook:hover {
    background-color: peachpuff;
    cursor: pointer;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}